.App {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 100vw;
  align-items: center;
  gap: 10px;
  height: calc(100vh - 100px);
}

body{
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.input {
  outline: none;
  border: 1px solid #D9D9D9;
  border-radius: 20px;
  padding: 10px;
  width: 40vw;
  margin-right: 10px;
}

.button {
  border: none;
  background: #8854C0;
  color: #fff;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  width: 200px;
  font-weight: 700;
  font-size: 20px;
}

.logo{
  align-self: flex-start;
}

.responses{
  flex-grow: 1;
  overflow: scroll;
}

li {
  list-style: none;
  width: fit-content;
  padding: 10px 0;
  width: 100%;
}

ul {
  padding: 0;
  width: 100%;
}

.container{
  display: flex;
  align-items: center;
  height: 100%;
}

.box{
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 80%;
}